@keyframes rot{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}
body{
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;

    audio{
        z-index:10;
        min-width: 50%;
    }
.heads{
    display: flex;
    position: relative;
    #kevin{
        background:url(./Imagen\ de\ WhatsApp\ 2024-03-09\ a\ las\ 21.55.57_2fe4f624.jpg);
        background-color: rgba(240, 248, 255, 0);
        height: 50rem;
        width: 30rem;
        animation-name: rot;
        animation-duration:5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        background-size: cover;
        position: relative;
        top:-10rem;
        z-index:0
    }

    #Antonio{

    }
}
}
